.round {
	border-style: solid;
	border: 2px 2px 2px 2px;
	width: 10em;
	line-height: 1;
	font-size: 8pt;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0px;
}

.round-one {

}

.round-two {
	position: relative;
	margin-top: 28px;
	margin-bottom: 26px;
}

.round-holder-left {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
}

.round-holder-right {
	display: inline-block;
	vertical-align: top;
}

.region {
	border-style: dotted;
	border: 1px 1px 1px 1px;
}

.left {
	display: inline-block;
	width: 50%;
	float: left;
}

.right {
	display: inline-block;
	width: 50%;
}

dt {
	float: left;
	clear: left;
	margin-right: 5px;
	font-weight: bold;
	width: 8em;
}

dd {
	margin-left: 0px;
}